    
        <img src="assets/image.jpg" class="fundo">
    
        <div class="login-box">
       
    <img src="assets/avatar.png" class="avatar">
        <h1>Login </h1>
            <form>
            <p>Usuário</p>
            <input type="text" name="username" placeholder="Digite seu usuário aqui">
            <p>Senha</p>
            <input type="password" name="password" placeholder="Digite sua senha aqui">
            <input type="submit" name="submit" value="Login">
            <a href="#">Esqueceu senha</a><br>    
            <a href="#">Novo Cadastro</a>    
            </form>
        
        
        </div>
    
    

